.flex {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.navMain {
    width: 100%;
    height: auto;
    min-height: 70px;
    padding: 0px 20px;
    font-size: 1.3rem;
    flex-wrap: wrap;
    justify-content: space-between;
    /* border: 2px solid red; */
  }
  .navResp {
    flex-direction: column;
    align-items: start;
  }
  .linkResp{
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 20px;
  }
  @media screen and (max-width:768px) {
    .linkBox{
      display: none;
    }
  }
  .ad {
    margin:0 10px;
    font-size: 1.5rem;
    font-weight: 400;
    font-family: 'Ubuntu',sans-serif;
  }
  .ad:hover{
    border-bottom: 1px solid;
    border-color:  #00B5D8;
    transition: .1s linear;
  }
  .connect {
    gap: 10px;
  }
  .connect button {
    min-height: 40px;
    min-width: 120px;
    border-radius: 10px;
    font-size: 1.3rem;
    padding: 8px;
  }
.logoImg{
  width: 150px;

}
.showBtn{
  display: block;
}
@media screen and (max-width:768px) {
  .hideBtn{
    display: none;
  }
}
