.flex {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.navMain {
    width: 100%;
    height: auto;
    min-height: 70px;
    padding: 0px 20px;
    background-color: rgba(0, 0, 0, 0.2);
    font-size: 1.3rem;
    color: #000;
    background-color: #fff;
    flex-wrap: wrap;
    justify-content: space-between;
    /* border: 2px solid red; */
  }

  .navResp {
    flex-direction: column;
    align-items: start;

    /* border: 2px solid red; */
  }
  .linkResp{
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 20px;
  }
  @media screen and (max-width:768px) {
    .linkBox{
      display: none;
    }


  }


  .ad {
    margin:0 10px;
    font-size: 1.3rem;
    font-weight: 400;
  }
  .logo h2 {
    color: var(--yellow);
  }
  .connect {
    gap: 10px;
  }
  .connect button {
    min-height: 40px;
    min-width: 120px;
    border-radius: 10px;
    font-size: 1.3rem;
    padding: 8px;
    color: var(--blue) !important;
  }

  .navMain a {
    color: var(--blue);
    text-decoration: none;
  }
.logoImg{
  width: 150px;

}
.showBtn{
  display: block;
}
@media screen and (max-width:768px) {
  .hideBtn{
    display: none;
  }


}
